page-khalen-rn-d {
  .content.content-md {
    //background: #fff !important;
  }
  .large-imgages-div-img {
    position: absolute;
    width: 100%;
    z-index: 500;
  }
  #small-slider-below {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  .small-slider-img-div {

  }
  .small-slider-img {
    width: 18%;
  }
  .small-slider-img-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, 30%, 0);
    -webkit-transform: translate3d(-50%, 30%, 0);
    transition: transform 0.7s linear;
  }
  .small-slider-img-middle-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-190%, 80%, 0px);
    -webkit-transform: translate3d(-190%, 80%, 0px);
    width: 16%;
  }
  .small-slider-img-far-left {
    position: absolute;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate3d(-315%, 175%, 0);
    -webkit-transform: translate3d(-315%, 175%, 0);
  }
  .small-slider-img-middle-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(90%, 80%, 0px);
    -webkit-transform: translate3d(90%, 80%, 0px);
    width: 16%;
  }
  .small-slider-img-far-right {
    position: absolute;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate3d(220%, 175%, 0);
    -webkit-transform: translate3d(220%, 175%, 0);
  }
  .img-active {
    //transform: translate3d(-50%, 30%, 0) !important;
    //-webkit-transform: translate3d(-50%, 30%, 0) !important;
    //transition: 1.5s !important;
    width: 18%;
    z-index: 10;
    animation: dial 1s ease-in forwards;
  }

  @keyframes dial {
    0% {
      opacity: 0;
      transform: translate3d(-315%, 175%, 0);
    }
    50% {
      transform: translate3d(-190%, 80%, 0px);
    }
    100% {
      transform: translate3d(-50%, 30%, 0);
    }
  }
  // #######################################################################################################################################################
  .test_circular_path {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #parent {
    position: relative;
    width: 310px;
    height: 310px;
    //border: 1px solid rgba(0,0,0,0.1);
    border: transparent;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
  }
  #child {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -40px;   /* -child size/2 */
    left: 110px;   /* parent size/2 - child size/2 */
  }
  #child {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -40px;   /* -child size/2 */
    left: 110px;   /* parent size/2 - child size/2 */
  }
  #child-02 {
    position: absolute;
    width: 70px;
    height: 70px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: 0px;
    left: 213px;
  }
  #child-03 {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: 85px;
    left: 266px;
  }
  #child-04 {
    position: absolute;
    width: 70px;
    height: 70px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: 0px;
    left: 20px;
  }
  #child-05 {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: 85px;
    left: -25px;
  }
  #child-duplicate,
  #child-02-duplicate, #child-03-duplicate,
  #child-04-duplicate, #child-05-duplicate {
  //display: none;
  }
  #child-duplicate {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: 265px;
    left: 110px;
  }
  #child-02-duplicate {
    position: absolute;
    width: 70px;
    height: 70px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: 240px;
    left: 20px;
  }
  #child-03-duplicate {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: 160px;
    left: -25px;
  }
  #child-04-duplicate {
    position: absolute;
    width: 70px;
    height: 70px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: 238px;
    left: 214px;
  }
  #child-05-duplicate {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: 160px;
    left: 265px;
  }
  #child img,
  #child-02 img,
  #child-03 img,
  #child-04 img,
  #child-05 img,
  #child-duplicate,
  #child-02-duplicate img,
  #child-03-duplicate img,
  #child-04-duplicate img,
  #child-05-duplicate img{
    max-width: 100%;
    border-radius: 50%;
  }

}
