page-khalen-rn-d {

  .large-images-div-img {
    position: absolute;
    width: 100%;
    z-index: 500;
    max-width: 101%;
    width: 101%;
  }
  .large-images-div-img.large-img-cycle{
    transform: translate(200%, 0);
    transition: transform 0.7s linear;
  }
  .large-images-div-img.large-img-fish{
    transform: translate(100%, 0);
    transition: transform 0.7s linear;
  }
  .large-images-div-img.large-img-boat{
    transform: translate(0, 0);
    transition: transform 0.7s linear;
  }
  .large-images-div-img.large-img-trek{
    transform: translate(-100%, 0);
    transition: transform 0.7s linear;
  }
  .large-images-div-img.large-img-tennis{
    transform: translate(-200%, 0);
    transition: transform 0.7s linear;
  }

  // #######################################################################################################################################################
  .circular_path {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 23%);
    height: 285px;
    overflow: hidden;
    z-index: 1000;
  }
  #parent {
    position: relative;
    width: 1405px;
    height: 1405px;
    border: transparent;
    background: #f3f3f3;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.7s linear;
    transition: -webkit-transform 0.7s linear;
    transition: transform 0.7s linear;
    transition: transform 0.7s linear, -webkit-transform 0.7s linear;
    margin-top: 3%;
  }
  #child {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -40px;
    left: 672px;
  }

  #child-02 {
    position: absolute;
    width: 55px;
    height: 55px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -30px;
    left: 745px;
  }
  #child-03 {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -15px;
    left: 811px;
  }
  #child-04 {
    position: absolute;
    width: 55px;
    height: 55px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -30px;
    left: 604px;
  }
  #child-05 {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -15px;
    left: 543px;
  }

  #child img,
  #child-02 img,
  #child-03 img,
  #child-04 img,
  #child-05 img{
    max-width: 100%;
    border-radius: 50%;
  }
  .child-text {
    z-index: 1500;
    position: absolute;
    top: 83%;
    width: 100%;
  }
  .text-01 {
    position: absolute;
    width: 100%;
    padding:0 40px;
    z-index: 1500;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: justify;
  }
  .custom-child-text-p-tag {
    position: absolute;
    width: 100%;
    padding: 0 40px;
    z-index: 1500;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
    font-family: 'Montserrat';
    font-size: 14px;
  }
  #p-tag-02, #p-tag-03, #p-tag-04, #p-tag-05 {
    opacity: 0;
  }
  #p-tag-02
  {
    //background: green;
  }
  #p-tag-03
  {
    //background: yellow;
  }
  #p-tag-04
  {
    //background: blue;
  }
  #p-tag-05
  {
    //background: magenta;
  }
  .custom-boat-circle{
    fill: #b29d5d;
  }
  .custom-boat-path {
    fill: #fff;
  }
}
