page-wheel-of-fortune {

  .toolbar{
    box-shadow: 0px 1vh 1.50vh #757575;
    height: 8vh;
  }

  .container {
    position: relative;
    height: 350px;
    width: 300px;
    margin: 0 auto;
  }

  .result-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
  }

  button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;

    &#reset {
      left: 200px;
    }
  }

  .title {
    font-family: sans-serif;
  }

  .arrow {
    width: 0;
    height: 0;
    border-bottom: 30px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .backdrop {
    position: absolute;
    background: #ADD8E6;
    height: 300px;
    width: 300px;
    border-radius: 50%;

    &.animate {
      // You can fine tune the speed of the wheel spin here
      -webkit-transition: all 5s ease-in-out;
      -moz-transition: all 5s ease-in-out;
      -o-transition: all 5s ease-in-out;
      transition: all 5s ease-in-out;
    }

    .segment {
      position: absolute;
      height: 100%;
      width: 2px;
      background: black;
      left: 50%;
      // Could change this to a for loop if using a CSS preprocessor like SASS
      // Each segment is calculated by (360/6) - size of a segment (30)
      &.segment-1,
      &.segment-2,
      &.segment-3,
      &.segment-4,
      &.segment-5,
      &.segment-6 {
        &:after {
          display: block;
          margin-top: 50px;
          margin-left: 50px;
        }
      }
      &.segment-1 {
        transform: rotate(150deg);
        &:after {
          content: '1';
        }
      }
      &.segment-2 {
        transform: rotate(210deg);
        &:after {
          content: '2'
        }
      }
      &.segment-3 {
        transform: rotate(270deg);
        &:after {
          content: '3'
        }
      }
      &.segment-4 {
        transform: rotate(330deg);
        &:after {
          content: '4'
        }
      }
      &.segment-5 {
        transform: rotate(30deg);
        &:after {
          content: '5'
        }
      }
      &.segment-6 {
        transform: rotate(90deg);
        &:after {
          content: '6'
        }
      }
    }
  }

  //.testing{
  //transform: rotate(0);
  //}, 10000);

}
