page-home {

  .toolbar{
    box-shadow: 0px 1vh 1.50vh #757575;
    height: 4vh;
  }

  .cards{
    display: inline;
  }

  .card-image{
    //margin-top: -2vh;
    margin-top: 0;
    width: 82%;
    margin-left: 10%;
  }

  .header-holder{
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .facilities{
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
  }

  .center{
    //margin-top: 2vh;
  }
  @media (min-width: 461px) and (max-width: 480px){
    .center{
      margin-top: 22vh;
    }
  }
  @media (min-width: 421px) and (max-width: 460px){
    .center{
      margin-top: 20vh;
    }
  }
  @media (min-width: 381px) and (max-width: 420px){
    .center{
      margin-top: 18vh;
    }
  }
  @media (min-width: 361px) and (max-width: 380px){
    .center{
      margin-top: 16vh;
    }
  }
  @media (min-width: 321px) and (max-width: 360px){
    .center{
      margin-top: 14vh;
    }
  }

  @media (min-width: 320px) {
    //.center{
    //  margin-top: 12vh;
    //}
  }
  

}
