page-home {

  .toolbar{
    box-shadow: 0px 1vh 1.50vh #757575;
    height: 4vh;
  }

  .cards{
    display: inline;
  }

  .card-image{
    //margin-top: -2vh;
    margin-top: 0;
    width: 88%;
    margin-left: 7%;
  }

  .header-holder{
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .facilities{
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
  }

  

}
