page-home {

  .cards{
    display: inline;

  }

  .facilities{
    position: absolute;
    width: 62%;
    top: 46%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  .slide-height{
    //background-color: red;
    height: 45vh;

  }
  .pool{
    width: 40%;

  }
  .swiper-slide img{
    width: 100%;
    //max-width: 150%;
    //height: auto;
    //max-height: 100%;
  }

  .slide-text{
    position: absolute;
    width: 62%;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 0.875em;
    font-weight: normal;
    //text-align: justify;
  }

  .swiper-slide-next{
    -webkit-filter: blur(100%);
    //width: 120%;
    //height: 120%;
  }
  //.swiper-slide {
  //  width: 90% !important;
  //  &:last-child {
  //    width: 100% !important;
  //  }
  //}
  .pool.swiper-slide.swiper-slide-active{
    width: 245px !important;
    margin-right: 1px;
  }
  .pool.swiper-slide.swiper-slide-duplicate.swiper-slide-active {
    width: 245px !important;
    margin-right: 1px;
  }
  .pool.swiper-slide.swiper-slide-duplicate.swiper-slide-prev {
    width: 195px !important;
    margin-right: 1px;
  }
  .pool.swiper-slide.swiper-slide-next, .pool.swiper-slide.swiper-slide-prev {
    opacity: 0.4;
  }
}
