
.slider {
  width: 100%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
.slick-dotted.slick-slider {
  /*margin-bottom: 80px;*/
  top: -6.5em;
  margin-bottom: -0.8em;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 30px;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: black;
}
