html, body {
  height: 100%;
  overflow: hidden;
}

.container {
  text-align: center;
  height: 100%;
  background-color: #f3f3f3;
}

.path-slider {
  display: inline-block;
  /*position: relative;*/
  /*top: 50%;*/
  /*-webkit-transform: translateY(-40%);*/
  /*-ms-transform: translateY(-40%);*/
  /*transform: translateY(-40%);*/
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-66%, 3%);
}

path {
  stroke-width: 1px;
  stroke: none;
  fill: none;
}

.icon__path {
  fill: #FFFFFF;
}

.path-slider__path {
  /*stroke: rgba(255, 255, 255, 0.5);*/
  stroke: transparent;

}

.path-slider__item {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -37px;
  top: -37px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  text-decoration: none;
  outline: none;
}

.path-slider__item:hover .item__circle, .path-slider__item:focus .item__circle {
  /*background-color: #45905e;*/
}

.item__circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  /*background-color: #55B375;*/
  /*box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);*/
  border-radius: 100%;
  text-align: center;
  transition: 0.5s;
  box-shadow: 5px 7px 27px -1px rgba(0, 0, 0, 0.3);
}

.item__title {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-variant: small-caps;
  white-space: nowrap;
  opacity: 0.8;
  transition: 0.5s;
}

.item__icon {
  width: 21px;
  height: 21px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.path-slider__current-item .item__circle {
  /*background-color: #4DA169;*/
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.25);

}

.path-slider__current-item .item__title {
  font-size: 25px;
  opacity: 1;
  -webkit-transform: translate(-50%, -20px);
  -ms-transform: translate(-50%, -20px);
  transform: translate(-50%, -20px);
}
