page-facalities {

  .toolbar{
    box-shadow: 0px 1vh 1.50vh #757575;
    height: 8vh;
  }
  .col-padding{
    padding-left: 2vw;
  }

  .card-image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .margin-left-info{
    margin-left: 3vw;
  }

  .card-paragraph-text{
    font-size: 1rem;
    text-align: justify;
    text-align-last: left;
    hyphens: auto;
    padding-bottom: 2vh;
    letter-spacing: 1px;
  }

  .button-color{
    background-color: #c2ad6c;
    color: black;
    border-radius: 0.8em;
    font-weight: bold;
    font-size: 50%;
    height: 5vh;
  }

  .card-title-text{
    font-weight: bold;
    font-size: 90%;
    width:100%;
  }

}
