page-facalities {

  .toolbar{
    box-shadow: 0px 1vh 1.50vh #757575;
  }

  .card-image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 200%;
    width: 145%;
    margin-left: -4vw;
  }

  //.card-title-text{
  //  position: absolute;
  //  right: 26vw;
  //  font-weight: bold;
  //  font-size: 3vh;
  //}
  //
  //.card-paragraph{
  //  position: absolute;
  //  right: 26vw;
  //  font-weight: normal;
  //  font-size: 2vh;
  //  transform: translate(72%, 43%);
  //  text-align: justify;
  //}



}
