page-movies {

  .toolbar{
    box-shadow: 0px 1vh 1.50vh #757575;
    height: 8vh;
  }

  .image-posters{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 2vw;
  }

  .large-movies-div-img{
    border-radius: 6%;
    box-shadow: 1.5vw 1vh 1.50vh #757575;
  }
  
  .large-movies-div-img.first-image{
    position: absolute;
    top: 30px;
    left: 0;
  }

  .large-movies-div-img.second-image{
    width: 70%;
    height: 70%;
    position: relative;
    top: 50px;
    left: 70px;
    z-index: -1;
    filter: blur(2px);
    }

  .large-movies-div-img.third-image{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 100px;
    left: 90px;
    z-index: -2;
    filter: blur(8px);
  }

  .movie-heading{
    margin-left: 2vw;
  }

  .movie-title{
    margin-top: -2.50vh;
    font-weight: bold;
    font-size: 2rem;
  }

  .move-btn{
    position: fixed;
    top: 550px;
    right: 20px;
  }

























}
