<ion-header>
  <ion-navbar>
    <ion-title>MOVIES</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding no-margin style="background-color: #f3f3f3">
  <div class="movie-heading" id="movie-heading">
    <p>NOW SHOWING</p>
    <p class="movie-title" id="movie-title">{{movieTitle}}</p>
  </div>

  <div class="image-posters" id="image_poster">
    <img [src]="firstImageLink" class="large-movies-div-img first-image" alt="img01" id="first_image">
    <img [src]="secondImageLink" class="large-movies-div-img second-image" alt="img02">
    <img [src]="thirdImageLink" class="large-movies-div-img third-image" alt="img03">

    <!--<div class="move-btn">-->
      <!--<img src="assets/imgs/movies/arrow.png" alt="arrow" (click)="makeItMove(count)">-->
    <!--</div>-->
    <div class="move-btn" id="movie_btn">
      <img src="assets/imgs/movies/arrow.png" alt="arrow" (click)="rndItMove()">
    </div>
  </div>

  <ion-grid no-padding no-margin class="description" id="description">
    <ion-row class="show-details">
      <ion-col col-4 class="show-time">
        SHOW TIME
      </ion-col>
      <ion-col col-5 class="show-date">
        {{movieDay}}
      </ion-col>
      <ion-col col-3 class="movie-swipe-arrow">
        <div class="left-arrow">
          <img src="assets/imgs/movies/left_arrow.png" alt="arrow" (click)="dayLeft()">
        </div>
        <div class="right-arrow">
          <img src="assets/imgs/movies/right_arrow.png" alt="arrow" (click)="dayRight()">
        </div>
      </ion-col>
    </ion-row>

    <ion-row no-padding no-margin class="sm-devices">
      <ion-col col-3 *ngIf="movieTime_1.length > 0">
        <button ion-button color="dark" class="timing-buttons" outline><p class="timing-btns-p">{{movieTime_1}}</p></button>
      </ion-col>
      <ion-col col-3 *ngIf="movieTime_2.length > 0">
        <button ion-button color="dark"  class="timing-buttons" outline><p class="timing-btns-p">{{movieTime_2}}</p></button>
      </ion-col>
      <ion-col col-3 *ngIf="movieTime_3.length > 0">
        <button ion-button color="dark" class="timing-buttons" outline><p class="timing-btns-p">{{movieTime_3}}</p></button>
      </ion-col>
      <ion-col col-3 *ngIf="movieTime_4.length > 0">
        <button ion-button color="dark" class="timing-buttons" outline><p class="timing-btns-p">{{movieTime_4}}</p></button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
