page-movies {

  .toolbar {
    box-shadow: 0px 1vh 1.50vh #757575;
    height: 8vh;
  }

  .image-posters {
    position: absolute;
    width: 90%;
    top: 0;
    left: 0;
    margin-left: 2vw;
    margin-top: 6vh;
  }

  .large-movies-div-img {
    border-radius: 6%;
    box-shadow: 1.5vw 1vh 1.50vh #757575;
  }

  .large-movies-div-img.first-image {
    position: absolute;
    top: 30px;
    left: 0;
    width: 75%;
  }

  .large-movies-div-img.second-image {
    width: 55%;
    position: relative;
    top: 10vh;
    left: 28vw;
    z-index: -1;
    filter: blur(2px);
    opacity: 0.8;

  }

  .large-movies-div-img.third-image {
    width: 35%;
    position: absolute;
    top: 20vh;
    left: 55vw;
    z-index: -2;
    filter: blur(8px);
    opacity: 0.6;
  }

  .movie-heading {
    margin-top: 3vh;
    margin-left: 2vw;
  }

  .movie-title {
    margin-top: -2.50vh;
    font-weight: bold;
    font-size: 2rem;
  }

  .move-btn {
    position: fixed;
    top: 65vh;
    right: 0.5vw;
    width: 15%;
    z-index: 1;
  }

  .description {
    margin-top: 64.5vh;
    margin-left: 3vw;
    font-weight: lighter;
  }

  .show-details{
    margin-top: 2vh;
  }

  .show-time {
    margin-left: 2vw;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  .show-date{
    margin-left: -2vw;
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .arrow-right{
    margin-left: 2vw;
  }
  .timing-buttons{
    border-radius: 2.4em;
    width: 100%;
    height: 78%;
  }
  .timing-buttons.mid-button{
    background-color: red;
  }

}
