page-map-image {
  .toolbar{
    box-shadow: 0px 1vh 1.50vh #757575;
    height: 8vh;
  }

  .map-div {
    width: 2600px;
    height: 1400px;
    background: url('./assets/map.png') no-repeat;
  }

}
