page-map-image {
  .toolbar{
    height: 8vh;
  }

  .nav-buttons{
    margin-top: -1vh;
    margin-left: 0vw;
  }

  .button-clr{
    color: #f3f3f3;
    background-color: #303c47;
    box-shadow: 0px 1vh 1.25vh #757575;
    height: 8vh;
  }

  .button-text{
    font-size: 1.15rem;
  }

  #map{
    //margin-top: 2vh;
    width: 10%;
    height: 10%;
  }

  .increase-btn{
    position: fixed;
    top: 75vh;
    right: 0.5vw;
    width: 15%;
    z-index: 1;
  }

  .decrease-btn{
    position: fixed;
    top: 83vh;
    right: 0.5vw;
    width: 15%;
    z-index: 1;
  }

  //.gallery-modal{
  //  background: rgba(0,0,0,0.1) !important;
  //}
  .slider-wrap{
    position: relative;
    width: 100%;
    height: 90%;
    overflow-y:scroll;
    overflow-x:scroll;
    //margin-top: 20px;
  }

  .button-slider{
    position: relative;
    width: 100%;
    overflow-y:scroll;
  }
}
