
<!-- SVG icons -->
<div class="container">
  <!--Slider Large Image-->
  <div class="large-images-div">
    <img class="large-img large-img-item01" src="assets/imgs/img01.jpg" alt="ddd">
    <img class="large-img large-img-item02" src="assets/imgs/img02.jpg" alt="ddd">
    <img class="large-img large-img-item03" src="assets/imgs/img03.jpg" alt="ddd">
    <img class="large-img large-img-item04" src="assets/imgs/img04.jpg" alt="ddd">
    <img class="large-img large-img-item05" src="assets/imgs/img05.jpg" alt="ddd">
    <img class="large-img large-img-item06" src="assets/imgs/img06.jpg" alt="ddd">
    <img class="large-img large-img-item07" src="assets/imgs/img07.jpg" alt="ddd">
    <img class="large-img large-img-item08" src="assets/imgs/img08.jpg" alt="ddd">
    <img class="large-img large-img-item09" src="assets/imgs/img09.jpg" alt="ddd">
    <img class="large-img large-img-item10" src="assets/imgs/img10.jpg" alt="ddd">
    <img class="large-img large-img-item11" src="assets/imgs/img11.jpg" alt="ddd">
    <img class="large-img large-img-item12" src="assets/imgs/img12.jpg" alt="ddd">
    <img class="large-img large-img-item13" src="assets/imgs/img13.jpg" alt="ddd">

  </div>

  <!-- Path Slider -->
  <div class="custom-path-slider-container">
    <div class="path-slider-holder">
      <div class="path-slider">
        <!-- SVG path to slide the items -->
        <svg height="310px" viewBox="0 0 320 310" width="320px">
          <path class="path-slider__path" d="M 160 5 c -210 0 -210 210 0 210 c 210 0 210 -210 0 -210 Z"></path>
        </svg>

        <!-- Slider items -->
        <a class="path-slider__item item01 postion-b02 postion-a13 postion-far-a12 postion-far-b03">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#envelope"/></svg></div>-->
          <div class="item__circle item_01 b02 a13 far-a12 far-b03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11" (click)="itemOnClick('01')">
            <img class="item__icon" src="assets/imgs/cycling.png" alt="cycling">
          </div>
          01
        </a>
        <a class="path-slider__item item02 postion-b03 postion-a01 postion-far-a13 postion-far-b04">
          <div class="item__circle item_02 b03 a01 far-a13 far-b04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12" (click)="itemOnClick('02')">
            <img class="item__icon" src="assets/imgs/table_tennis.png" alt="table_tennis">
          </div>
          02
        </a>
        <a  class="path-slider__item item03 postion-b04 postion-a02 postion-far-a01 postion-far-b05">
          <div class="item__circle item_03 b04 a02 far-a01 far-b05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('03')">
            <img class="item__icon" src="assets/imgs/trekking.png" alt="trekking">
          </div>
          03
        </a>
        <a class="path-slider__item item04 postion-b05 postion-a03 postion-far-a02 postion-far-b06">
          <div class="item__circle item_04 b05 a03 far-a02 far-b06 hide-for-item01 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('04')">
            <img class="item__icon" src="assets/imgs/fishing.png" alt="fishing">
          </div>
          04
        </a>
        <a class="path-slider__item item05 postion-b06 postion-a04 postion-far-a03 postion-far-b07">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#lightbulb"/></svg></div>-->
          <div class="item__circle item_05 b06 a04 far-a03 far-b07 hide-for-item01 hide-for-item02 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('05')">
            <img class="item__icon" src="assets/imgs/boating.png" alt="boat">
          </div>
          05
        </a>
        <a class="path-slider__item item06 postion-b07 postion-a05 postion-far-a04 postion-far-b08">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#envelope"/></svg></div>-->
          <div class="item__circle item_06 b07 a05 far-a04 far-b08 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('06')">
            <img class="item__icon" src="assets/imgs/cycling.png" alt="cycling">
          </div>
          06
        </a>
        <a class="path-slider__item item07 postion-b08 postion-a06 postion-far-a05 postion-far-b09">
          <div class="item__circle item_07 b08 a06 far-a05 far-b09 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('07')">
            <img class="item__icon" src="assets/imgs/table_tennis.png" alt="table_tennis">
          </div>
          07
        </a>
        <a  class="path-slider__item item08 postion-b09 postion-a07 postion-far-a06 postion-far-b10">
          <div class="item__circle item_08 b09 a07 far-a06 far-b10 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('08')">
            <img class="item__icon" src="assets/imgs/trekking.png" alt="trekking">
          </div>
          08
        </a>
        <a class="path-slider__item item09 postion-b10 postion-a08 postion-far-a07 postion-far-b11">
          <div class="item__circle item_09 b10 a08 far-a07 far-b11 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item12 hide-for-item13" (click)="itemOnClick('09')">
            <img class="item__icon" src="assets/imgs/fishing.png" alt="fishing">
          </div>
          09
        </a>
        <a class="path-slider__item item10 postion-b11 postion-a09 postion-far-a08 postion-far-b12">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#lightbulb"/></svg></div>-->
          <div class="item__circle item_10 b11 a09 far-a08 far-b12 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item13" (click)="itemOnClick('10')">
            <img class="item__icon" src="assets/imgs/boating.png" alt="boat">
          </div>
          10
        </a>
        <a class="path-slider__item item11 postion-b12 postion-a10 postion-far-a09 postion-far-b13">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#envelope"/></svg></div>-->
          <div class="item__circle item_11 b12 a10 far-a09 far-b13 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08" (click)="itemOnClick('11')">
            <img class="item__icon" src="assets/imgs/cycling.png" alt="cycling">
          </div>
          11
        </a>
        <a class="path-slider__item item12 postion-b13 postion-a11 postion-far-a10 postion-far-b01">
          <div class="item__circle item_12 b13 a11 far-a10 far-b01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09" (click)="itemOnClick('12')">
            <img class="item__icon" src="assets/imgs/table_tennis.png" alt="table_tennis">
          </div>
          12
        </a>
        <a  class="path-slider__item item13 postion-b01 postion-a12 postion-far-a11 postion-far-b02">
          <div class="item__circle item_13 b01 a12 far-a11 far-b02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10" (click)="itemOnClick('13')">
            <img class="item__icon" src="assets/imgs/trekking.png" alt="trekking">
          </div>
          13
        </a>

      </div>
    </div>
    <div class="custom-slider-text">
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-01">001 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-02">002 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-03">003 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-04">004 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-05">005 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-06">006 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-07"> 007 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-08">008 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-09">009 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-10">010 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-11">011 orem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-12">012 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="custom-paragraph-div">
        <p class="paragraph custom-paragraph-13">013 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
    </div>
  </div>
  <!--Slider Text Content-->

</div>
