
<!-- SVG icons -->
<div class="container">
  <!--Slider Large Image-->
  <div class="large-images-div">
    <img class="large-img-item01" src="assets/imgs/test01.png" alt="ddd" (click)="itemOnClick()">
  </div>

  <!-- Path Slider -->
  <div class="custom-path-slider-container">
    <div class="path-slider-holder">
      <div class="path-slider">
        <!-- SVG path to slide the items -->
        <!--<svg width="460px" height="310px" viewBox="0 0 460 310">-->
        <!--<path d="M 230 5 c -300 0 -300 300 0 300 c 300 0 300 -300 0 -300 Z" class="path-slider__path"></path>-->
        <!--</svg>-->
        <svg height="310px" viewBox="0 0 320 310" width="320px">
          <path class="path-slider__path" d="M 160 5 c -210 0 -210 210 0 210 c 210 0 210 -210 0 -210 Z"></path>
        </svg>
        <!-- Slider items -->
        <a class="path-slider__item ">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#envelope"/></svg></div>-->
          <div class="item__circle item_01"><img class="item__icon" src="assets/imgs/cycling.png" alt="cycling"></div>
          <div class="item__title"><h2>01</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_02"><img class="item__icon" src="assets/imgs/table_tennis.png" alt="table_tennis"></div>
          <div class="item__title"><h2>02</h2></div>
        </a>
        <a  class="path-slider__item ">
          <div class="item__circle item_03"><img class="item__icon" src="assets/imgs/trekking.png" alt="trekking"></div>
          <div class="item__title"><h2>03</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_04"><img class="item__icon" src="assets/imgs/fishing.png" alt="fishing"></div>

          <div class="item__title"><h2>04</h2></div>
        </a>
        <a class="path-slider__item ">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#lightbulb"/></svg></div>-->
          <div class="item__circle item_05"><img class="item__icon" src="assets/imgs/boating.png" alt="boat"></div>
          <div class="item__title"><h2>05</h2></div>
        </a>
        <a class="path-slider__item ">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#envelope"/></svg></div>-->
          <div class="item__circle item_06"><img class="item__icon" src="assets/imgs/cycling.png" alt="cycling"></div>
          <div class="item__title"><h2>06</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_07"><img class="item__icon" src="assets/imgs/table_tennis.png" alt="table_tennis"></div>
          <div class="item__title"><h2>07</h2></div>
        </a>
        <a  class="path-slider__item ">
          <div class="item__circle item_08"><img class="item__icon" src="assets/imgs/trekking.png" alt="trekking"></div>
          <div class="item__title"><h2>08</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_09"><img class="item__icon" src="assets/imgs/fishing.png" alt="fishing"></div>

          <div class="item__title"><h2>09</h2></div>
        </a>
        <a class="path-slider__item ">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#lightbulb"/></svg></div>-->
          <div class="item__circle item_10"><img class="item__icon" src="assets/imgs/boating.png" alt="boat"></div>
          <div class="item__title"><h2>10</h2></div>
        </a>
        <a class="path-slider__item ">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#envelope"/></svg></div>-->
          <div class="item__circle item_11"><img class="item__icon" src="assets/imgs/cycling.png" alt="cycling"></div>
          <div class="item__title"><h2>11</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_12"><img class="item__icon" src="assets/imgs/table_tennis.png" alt="table_tennis"></div>
          <div class="item__title"><h2>12</h2></div>
        </a>
        <a  class="path-slider__item">
          <div class="item__circle item_13"><img class="item__icon" src="assets/imgs/trekking.png" alt="trekking"></div>
          <div class="item__title"><h2>13</h2></div>
        </a>

      </div>
    </div>
  </div>
  <!--Slider Text Content-->

</div>
