
<!-- SVG icons -->
<div class="container">
  <!--Slider Large Image-->
  <div class="large-images-div">
    <img class="large-img-item01" src="assets/imgs/test01.png" alt="ddd">
  </div>

  <!-- Path Slider -->
  <div class="custom-path-slider-container">
    <div class="path-slider-holder">
      <div class="path-slider">
        <!-- SVG path to slide the items -->
        <!--<svg width="460px" height="310px" viewBox="0 0 460 310">-->
        <!--<path d="M 230 5 c -300 0 -300 300 0 300 c 300 0 300 -300 0 -300 Z" class="path-slider__path"></path>-->
        <!--</svg>-->
        <svg height="310px" viewBox="0 0 320 310" width="320px">
          <path class="path-slider__path" d="M 160 5 c -210 0 -210 210 0 210 c 210 0 210 -210 0 -210 Z"></path>
        </svg>
        <!-- Slider items -->
        <a class="path-slider__item item01">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#envelope"/></svg></div>-->
          <div class="item__circle item_01 b02 a13 far-a12 far-b03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11" (click)="itemOnClick('01')">
            <img class="item__icon" src="assets/imgs/cycling.png" alt="cycling">
          </div>
          <div class="item__title"><h2>01</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_02 b03 a01 far-a13 far-b04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12" (click)="itemOnClick('02')">
            <img class="item__icon" src="assets/imgs/table_tennis.png" alt="table_tennis">
          </div>
          <div class="item__title"><h2>02</h2></div>
        </a>
        <a  class="path-slider__item ">
          <div class="item__circle item_03 b04 a02 far-a01 far-b05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('03')">
            <img class="item__icon" src="assets/imgs/trekking.png" alt="trekking">
          </div>
          <div class="item__title"><h2>03</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_04 b05 a03 far-a02 far-b06 hide-for-item01 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('04')">
            <img class="item__icon" src="assets/imgs/fishing.png" alt="fishing">
          </div>

          <div class="item__title"><h2>04</h2></div>
        </a>
        <a class="path-slider__item ">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#lightbulb"/></svg></div>-->
          <div class="item__circle item_05 b06 a04 far-a03 far-b07 hide-for-item01 hide-for-item02 hide-for-item08 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('05')">
            <img class="item__icon" src="assets/imgs/boating.png" alt="boat">
          </div>
          <div class="item__title"><h2>05</h2></div>
        </a>
        <a class="path-slider__item ">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#envelope"/></svg></div>-->
          <div class="item__circle item_06 b07 a05 far-a04 far-b08 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item09 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('06')">
            <img class="item__icon" src="assets/imgs/cycling.png" alt="cycling">
          </div>
          <div class="item__title"><h2>06</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_07 b08 a06 far-a05 far-b09 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item10 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('07')">
            <img class="item__icon" src="assets/imgs/table_tennis.png" alt="table_tennis">
          </div>
          <div class="item__title"><h2>07</h2></div>
        </a>
        <a  class="path-slider__item ">
          <div class="item__circle item_08 b09 a07 far-a06 far-b10 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item11 hide-for-item12 hide-for-item13" (click)="itemOnClick('08')">
            <img class="item__icon" src="assets/imgs/trekking.png" alt="trekking">
          </div>
          <div class="item__title"><h2>08</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_09 b10 a08 far-a07 far-b11 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item12 hide-for-item13" (click)="itemOnClick('09')">
            <img class="item__icon" src="assets/imgs/fishing.png" alt="fishing">
          </div>

          <div class="item__title"><h2>09</h2></div>
        </a>
        <a class="path-slider__item ">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#lightbulb"/></svg></div>-->
          <div class="item__circle item_10 b11 a09 far-a08 far-b12 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item13" (click)="itemOnClick('10')">
            <img class="item__icon" src="assets/imgs/boating.png" alt="boat">
          </div>
          <div class="item__title"><h2>10</h2></div>
        </a>
        <a class="path-slider__item ">
          <!--<div class="item__circle"><svg class="item__icon"><use xlink:href="#envelope"/></svg></div>-->
          <div class="item__circle item_11 b12 a10 far-a09 far-b13 hide-for-item01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08" (click)="itemOnClick('11')">
            <img class="item__icon" src="assets/imgs/cycling.png" alt="cycling">
          </div>
          <div class="item__title"><h2>11</h2></div>
        </a>
        <a class="path-slider__item ">
          <div class="item__circle item_12 b13 a11 far-a10 far-b01 hide-for-item02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09" (click)="itemOnClick('12')">
            <img class="item__icon" src="assets/imgs/table_tennis.png" alt="table_tennis">
          </div>
          <div class="item__title"><h2>12</h2></div>
        </a>
        <a  class="path-slider__item">
          <div class="item__circle item_13 b01 a12 far-a11 far-b02 hide-for-item03 hide-for-item04 hide-for-item05 hide-for-item06 hide-for-item07 hide-for-item08 hide-for-item09 hide-for-item10" (click)="itemOnClick('13')">
            <img class="item__icon" src="assets/imgs/trekking.png" alt="trekking">
          </div>
          <div class="item__title"><h2>13</h2></div>
        </a>

      </div>
    </div>
  </div>
  <!--Slider Text Content-->

</div>
